@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

h1 {
    padding: 15px;
    line-height: 39px;

    svg {
        vertical-align: text-bottom;
    }
}

info {
    display: flex;
    flex-direction: row;
    align-items: center;

    iframe {
        width: 115px;
        margin-right: 15px;
        border: none;
        float: left;
    }

    contact {
        width: auto;
    }
}

input {
    padding: 5px 15px;
    font-size: 19.5px;
    line-height: 1.5em;
    border: none;
    border-radius: 19.5px;
    background: #e5e5e5;

    &.identifier {
        width: 500px;
    }
}

button {
    padding: 5px 15px;
    font-size: 19.5px;
    line-height: 1.5em;
    border: none;
    border-radius: 19.5px;
    background-color: #59beb5;
    color: #fff;
    cursor: pointer;
}

* {
    outline: none;
}